/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}

a {
  text-decoration: none;
}

li {
  list-style: none;
  margin-top: 10%;
  margin-right: 5%;
  font-size: 1.5rem;

}


/******************************************
/* LAYOUT
/*******************************************/
header {
 float: left;
 min-height: 100%;

}


header > h3 {
padding: 15px;
}

ul {
  padding-left: 0px;
}
.hero {

  width: 70%;
}
.hero-img{
  max-width: 60%;
  max-height: 60%;;
}

.articles {
  float: right;
  width: 30%;
}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
